{% extends 'web/master.html' %}

{% block title %}Bienvenido{% endblock %}

{% load humanize %}

{% block content %}

    <!-- stats -->
    <section class="w3_stats py-sm-5 py-4" id="stats">
        <div class="container">
            <div class="py-lg-5 w3-stats">
                <h2 class="w3pvt-title">Explorar
                </h2>
                <p class="my-4 text-white">
                    Buscar cadenas de evolución
                </p>
                <div>
                    <form method="POST">
                        {% csrf_token %}
                        <input class="input-lg" type="number" min="1" max="475" placeholder="Ingresa un número" name="evolution_chain_id" value="{{evolution_chain_id}}" required>
                        <button class="btn btn-primary" type="submit">
                            <span class="fa fa-search"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- //stats -->
    <!-- pricing plans -->
    {% if query %}
    <section class="py-lg-5 py-4" id="plans">
        <div class="container py-md-5">
            <div class="title-desc text-center pb-sm-3">
                <h3 class="main-title-w3pvt">Resultados</h3>
                <p>Obtuvimos {{pokemon_list|length}} resultado(s):</p>
            </div>
            <div class="row price-row">
                {% for pokemon in pokemon_list %}
                <div class="col-lg-4 col-sm-6 column mb-lg-5 mt-lg-3 mb-4">
                    <div class="box" data-blast="borderColor">
                        <div class="title">
                            <img src="{{pokemon.url_image}}">
                            <h5 data-blast="color">{{pokemon.name}} <sub>{{pokemon.id}}</sub></h5>
                        </div>
                        <div class="price">
                            <h6>{{pokemon.height}}cm / {{pokemon.weight|intcomma}}gr</h6>
                        </div>
                        <div class="option">
                            <ul>
                                <li>HP: {{pokemon.hp}}</li>
                                <li>Ataque: {{pokemon.attack}}</li>
                                <li>Ataque Especial: {{pokemon.special_attack}}</li>
                                <li>Defensa: {{pokemon.deffense}}</li>
                                <li>Defensa Especial: {{pokemon.special_deffense}}</li>
                                <li>Velocidad: {{pokemon.speed}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
    <!-- //pricing plans -->
    
{% endblock %}