{% extends 'web/master.html' %}

{% block title %}Bienvenido{% endblock %}

{% load humanize %}

{% block content %}


    </div>
    
    <!-- stats -->
    <section class="w3_stats py-sm-5 py-4" id="stats">
        <div class="container">
            <div class="py-lg-5 w3-stats">
                <h2 class="w3pvt-title">Explorar
                </h2>
                <p class="my-4 text-white">
                    Buscar cadenas de evolución
                </p>
                <div>
                    <form method="POST">
                        {% csrf_token %}
                        <input class="input-lg" type="number" min="1" max="475" placeholder="Ingresa un número" name="evolution_chain_id" value="{{evolution_chain_id}}" required>
                        <button class="btn btn-primary" type="submit">
                            <span class="fa fa-search"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- //stats -->
    <!-- pricing plans -->
    {% if query %}
    <section class="py-lg-5 py-4" id="plans">
        <div class="container py-md-5">
            <div class="title-desc text-center pb-sm-3">
                <h3 class="main-title-w3pvt">Resultados</h3>
                <p>Obtuvimos {{pokemon_list|length}} resultado(s):</p>
            </div>
            <div id="myDiagramDiv" style="width:100%; height:400px;">
            </div>
            <div class="row price-row">
                {% for pokemon in pokemon_list %}
                <div class="col-lg-4 col-sm-6 column mb-lg-5 mt-lg-3 mb-4">
                    <div class="box" data-blast="borderColor">
                        <div class="title">
                            <img src="{{pokemon.url_image}}">
                            <h5 data-blast="color">{{pokemon.name}} <sub>{{pokemon.id}}</sub></h5>
                        </div>
                        <div class="price">
                            <h6>{{pokemon.height}}cm / {{pokemon.weight|intcomma}}gr</h6>
                        </div>
                        <div class="option">
                            <ul>
                                <li>HP: {{pokemon.hp}}</li>
                                <li>Ataque: {{pokemon.attack}}</li>
                                <li>Ataque Especial: {{pokemon.special_attack}}</li>
                                <li>Defensa: {{pokemon.deffense}}</li>
                                <li>Defensa Especial: {{pokemon.special_deffense}}</li>
                                <li>Velocidad: {{pokemon.speed}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
    <!-- //pricing plans -->
    
{% endblock %}

{% block scripts %}

<script>

//Se crea función para 'capitalizar' un string
const capitalize = (s) => {
    if (typeof s !== 'string') return ''
    return s.charAt(0).toUpperCase() + s.slice(1)
}

//Se instancia el gráfico, los nodos y los conectores
var $ = go.GraphObject.make;

var myDiagram =
    $(go.Diagram, "myDiagramDiv", {
        "undoManager.isEnabled": true,
        layout: $(go.TreeLayout, {
            angle: 90,
            layerSpacing: 35
        })
    });

myDiagram.nodeTemplate =
    $(go.Node, "Vertical",
        $(go.Picture, {
            margin: 5,
            width: 50,
            height: 50,
        },
        new go.Binding("source")),
        $(go.TextBlock, "Default Text", {
            margin: 12,
            stroke: "#d3b800",
            font: "bold 16px sans-serif"
        },
        new go.Binding("text", "name"))
    );

myDiagram.linkTemplate = $(go.Link, {
        routing: go.Link.Orthogonal,
        corner: 5
    },
    $(go.Shape, {
        strokeWidth: 3,
        stroke: "#e2e2e2" 
    })
);

var model = $(go.TreeModel);

myDiagram.model = model;

// Se crean variables para almacenar los datos de los pokemones y sus evoluciones

var pokemon_list = {{pokemon_list|safe}}
var pokemon_chain_evolution = {{pokemon_chain_evolution|safe}}

//Se agregan los nodos al gráfico

pokemon_chain_evolution.map((item, key) => {
    if(item.evolves_from == 0){
        myDiagram.model.addNodeData({
            'key': item.evolves_to,
            'name': capitalize(item.evolves_to),
            'source': pokemon_list.find(x => x.name == item.evolves_to).url_image
        })
    }
    else {
        myDiagram.model.addNodeData({
            'key': item.evolves_to,
            'parent': item.evolves_from,
            'name': capitalize(item.evolves_to),
            'source': pokemon_list.find(x => x.name == item.evolves_to).url_image
        })
    }
})

</script>

{% endblock %}